{% extends "base.html" %}


{% block title %} Authorized Capitals for given year{% endblock %}

{% block content %}
<div class="container align-items-center">
    <div class="row ">
        <div class="col-8 d-flex justify-content-center text-center">
            <form class="form-inline" id="form1">
                <div class="form-group">
                    <label>Select Year</label>
                    <select class="form-control" id="input1">
                        <option value="2011" selected>2011</option>
                        <option value="2012">2012</option>
                        <option value="2013">2013</option>
                        <option value="2014">2014</option>
                        <option value="2015">2015</option>
                        <option value="2016">2016</option>
                        <option value="2017">2017</option>
                        <option value="2018">2018</option>
                    </select>&nbsp;&nbsp;&nbsp;&nbsp;
                    <button type="submit" class="btn btn-default">Plot Graph</button>
                </div>
            </form>
        </div>
    </div>
</div>

<hr>
<div class="border" id="problem3" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

{% load static %}
<script src="{% static 'plot3.js' %}" type="text/javascript"></script>

{% endblock content%}