{% extends "base.html" %}


{% block title %} Authorized Capitals for given year{% endblock %}

{% block content %}
<div class="container align-items-center">
    <div class="row ">
        <div class="col-8 d-flex justify-content-center text-center">
            <form class="form-inline" id="form1">
                <div class="form-group">
                    <label>Start Year</label>
                    <select class="form-control" id="input1">
                        <option value="2000" selected>2000</option>
                        <option value="2001">2001</option>
                        <option value="2002">2002</option>
                        <option value="2003">2003</option>
                        <option value="2004">2004</option>
                    </select>&nbsp;&nbsp;&nbsp;&nbsp;
                    <label>End Year</label>
                    <select class="form-control" id="input2">
                        <option value="2014" selected>2014</option>
                        <option value="2015">2015</option>
                        <option value="2016">2016</option>
                        <option value="2017">2017</option>
                        <option value="2018">2018</option>
                    </select>&nbsp;&nbsp;&nbsp;&nbsp;
                    <button type="submit" class="btn btn-default">Plot Graph</button>
                </div>
            </form>
        </div>
    </div>
</div>

<hr>
<div class="border" id="problem2" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

{% load static %}
<script src="{% static 'plot2.js' %}" type="text/javascript"></script>

{% endblock content%}