{% extends "base.html" %}


{% block title %} Authorized Capitals for given year{% endblock %}

{% block content %}

<div class="container align-items-center">
    <div class="row">
        <div class="col-8 d-flex justify-content-center text-center">
            <form class="form-inline" id="form1">
                <div class="form-group">
                    <label>Select Intervals:</label>
                    <select class="form-control" id="input1">
                        <option value="0">0</option>
                    </select>
                    <select class="form-control" id="input2">
                        <option value="100000" selected>1 Lakh</option>
                        <option value="500000">5 Lakh</option>
                        <option value="1000000">10 Lakh</option>
                    </select>
                    <select class="form-control" id="input3">
                        <option value="2500000" selected>25 Lakh</option>
                        <option value="5000000">50 Lakh</option>
                        <option value="10000000">1 Cr</option>
                    </select>
                    <select class="form-control" id="input4">
                        <option value="100000000" selected>10 Cr</option>
                        <option value="250000000">25 Cr</option>
                        <option value="500000000">50 Cr</option>
                    </select>
                    <select class="form-control" id="input5">
                        <option value="1000000000" readonly>100 Cr</option>
                    </select>
                </div>&nbsp;&nbsp;&nbsp;&nbsp;
                <button type="submit" class="btn btn-default">Plot Graph</button>
            </form>
        </div>
    </div>
</div>
<hr>
<div class="border" id="problem1" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

{% load static %}
<script src="{% static 'plot1.js' %}" type="text/javascript"></script>

{% endblock content%}