{% extends "base.html" %}


{% block title %} Authorized Capitals for given year{% endblock %}

{% block content %}
<div class="container align-items-center">
    <div class="row ">
        <div class="col-8 d-flex justify-content-center text-center">
            <form class="form-inline" id="form1">
                <label>Select Priciple Business Activities here:</label> <br>
                <label class="checkbox-inline"><input type="checkbox" id="input1"
                        value="Agriculture and Allied Activities" checked>Agriculture and Allied Activities</label>
                <label class="checkbox-inline"><input type="checkbox" id="input2" value="Business Services"
                        checked>Business Services</label>
                <label class="checkbox-inline"><input type="checkbox" id="input3"
                        value="Community, personal & Social Services" checked>Community, personal & Social
                    Services</label>
                <label class="checkbox-inline"><input type="checkbox" id="input4" value="Construction"
                        checked>Construction</label>
                <label class="checkbox-inline"><input type="checkbox" id="input5" value="Finance"
                        checked>Finance</label> <br>
                <label class="checkbox-inline"><input type="checkbox" id="input6" value="Insurance"
                        checked>Insurance</label>
                <label class="checkbox-inline"><input type="checkbox" id="input7" value="Manufacturing (Food stuffs)"
                        checked>Manufacturing (Food stuffs)</label>
                <label class="checkbox-inline"><input type="checkbox" id="input8" value="Trading"
                        checked>Trading</label>
                <label class="checkbox-inline"><input type="checkbox" id="input9"
                        value="Transport, storage and Communications" checked>Transport, storage and
                    Communications</label>
                <label class="checkbox-inline"><input type="checkbox" id="input10" value="Real Estate and Renting"
                        checked>Real Estate and Renting</label> <br> <br>
                <button type="submit" class="btn btn-default">Plot Graph</button>
            </form>
        </div>
    </div>
</div>

<hr>
<div class="border" id="problem4" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

{% load static %}
<script src="{% static 'plot4.js' %}" type="text/javascript"></script>

{% endblock content%}